<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header1 :: header" />
<style>
    .fieldError {
        border-color: #bd2130;
    }
</style>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
  <!--  <form class="row g-3 needs-validation" novalidate>
        <div class="col-md-4">
            <label for="validationCustom01" class="form-label">First name</label>
            <input type="text" class="form-control" id="validationCustom01" value="Mark" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-4">
            <label for="validationCustom02" class="form-label">Last name</label>
            <input type="text" class="form-control" id="validationCustom02" value="Otto" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-4">
            <label for="validationCustomUsername" class="form-label">Username</label>
            <div class="input-group has-validation">
                <span class="input-group-text" id="inputGroupPrepend">@</span>
                <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
                <div class="invalid-feedback">
                    Please choose a username.
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <label for="validationCustom03" class="form-label">City</label>
            <input type="text" class="form-control" id="validationCustom03" required>
            <div class="invalid-feedback">
                Please provide a valid city.
            </div>
        </div>
        <div class="col-md-3">
            <label for="validationCustom04" class="form-label">State</label>
            <select class="form-select" id="validationCustom04" required>
                <option selected disabled value="">Choose...</option>
                <option>...</option>
            </select>
            <div class="invalid-feedback">
                Please select a valid state.
            </div>
        </div>
        <div class="col-md-3">
            <label for="validationCustom05" class="form-label">Zip</label>
            <input type="text" class="form-control" id="validationCustom05" required>
            <div class="invalid-feedback">
                Please provide a valid zip.
            </div>
        </div>
        <div class="col-12">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                <label class="form-check-label" for="invalidCheck">
                    Agree to terms and conditions
                </label>
                <div class="invalid-feedback">
                    You must agree before submitting.
                </div>
            </div>
        </div>
        <div class="col-12">
            <button class="btn btn-primary" type="submit">Submit form</button>
        </div>
    </form>-->

    <form role="form" action="/members/new" th:object="${memberForm}"  method="post">
        <div class="form-group">
            <label th:for="id">사용할 ID</label>
            <input type="text" th:field="*{id}" class="form-control" placeholder="ID를 입력하세요"
                   th:class="${#fields.hasErrors('id')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('id')}" th:errors="*{id}">Incorrect date</p>
        </div>
        <div class="form-group">
            <label th:for="password">비밀번호</label>
            <input type="text" th:field="*{password}" class="form-control"placeholder="password를 입력하세요"
                    th:class="${#fields.hasErrors('password')?'form-control fieldError': 'form-control'}">
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"> Incorrect Data </p>
        </div>
        <div class="form-group">
            <label th:for="name"> 이름 </label>
            <input type="text" th:field="*{name}" class="form-control"placeholder="name를 입력하세요">
        </div>
        <div class="form-group">
            <label th:for="generation">세대</label> <input type="text" th:field="*{generation}" class="form-control"
                   placeholder="generation을 입력하세요">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br/>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>
