<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header1 :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div container>
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold"> Introduction </h1>
            <p class="col-md-8 fs-4">Using a service, you can write w, just like the one in previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to your liking.</p>
            <button class="btn btn-primary btn-lg" type="button">Start</button>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div>

</body>
</html>