<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header1 :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <form th:action="@{/worrys/new}" th:object="${worryForm}" method="post">
        <div class="form-group" >
            <label th:for="member">writer</label>
            <input type="text" th:field="*{member.id}" class="form-control" readonly>
        </div>
        <div class="form-group">
            <label th:for="title">Title</label>
            <input type="text" th:field="*{title}" class="form-control" placeholder="제목을 입력하세요"
                    th:class="${#fields.hasErrors('title')}? 'form-control fieldError' : 'form-control'">
            <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" th:class="field-error"></div>
        </div>
        <div class="form-group">
            <label th:for="content"> 내용 </label>
            <textarea th:field="*{content}" class="form-control"  rows="3" placeholder="write your trouble"
                    th:class="${#fields.hasErrors('content')}? 'form-control fieldError' : 'form-control'"/>
            <div th:if="${#fields.hasErrors('content')}" th:errors="*{content}" th:class="field-error"></div>
        </div>
        <div>
            <div>세대</div>
            <div th:each="generation : ${generations}" class="form-check form-check-inline">
                <input type="radio" th:field="*{generation}" th:value="${generation.name()}" class="form-check-input"
                       th:class="${#fields.hasErrors('generation')}? 'form-check-input fieldError' : 'form-check-input'">
                <label th:for="${#ids.prev('generation')}" th:text="${generation.description}" class="form-check-label">20-30대</label>
            </div>
            <div th:if="${#fields.hasErrors('generation')}" th:errors="*{generation}" th:class="field-error"></div>
        </div>
        <!-- multi checkbox -->
        <div>
            <div>Categories</div>
            <div th:each="category : ${categories}" class="form-check form-check-inline">
                <input type="checkbox" th:field="*{categoryId}" th:value="${category.id}" class="form-check-input"
                 th:class="${#fields.hasErrors('categoryId')}? 'form-check-input fieldError' : 'form-check-input'">
                <label th:for="${#ids.prev('categoryId')}" th:text="${category.name}" class="form-check-label">운동</label>
            </div>
            <div th:if="${#fields.hasErrors('categoryId')}" th:errors="*{categoryId}" th:class="field-error"></div>

        </div>

        <hr class="my-4">

      <!--  <div class="form-group">
            <label th:for="generation">범주</label>
            <input type="checkbox" th:value="${form.categories.name}" th:field="*{categories.name}" class="form-control" placeholder="고민글의 범주를 선택하세요">
        </div>-->

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br/>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>