<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header1 :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <form th:object="${form}" method="post">
        <!-- id -->
        <input type="hidden" th:field="*{id}" />
        <div class="form-group">
            <label th:for="title">title</label>
            <input type="text" th:field="*{title}" class="form-control" placeholder="title을 입력하세요" />
        </div>
        <div class="form-group">
            <label th:for="content">content</label>
            <input type="text" th:field="*{content}" class="form-control" placeholder="content 입력하세요" />
        </div>
        <!-- Generation -->
        <div>
            <div>세대</div>
            <div th:each="generation : ${generations}" class="form-check form-check-inline">
                <input type="radio" th:field="*{generation}" th:value="${generation.name()}" class="form-check-input">
                <label th:for="${#ids.prev('generation')}" th:text="${generation.description}" class="form-check-label">20-30대</label>
            </div>
        </div>
        <input type="hidden" th:field="*{generation}" />
        <input type="hidden" th:field="*{createDate}" />

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>